@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - FilterRLC</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=AKvNjO3dCPPS0eSU1Ez8T2wI280i08yGycV9ndytL-c" />
    <link rel="stylesheet" href="/FilterRLC.styles.css?v=Wot9q4Hum1Q8qqQTr0ozpZXbA8VPjzLW1xXlhTmXzl8" />
    <link rel="stylesheet" href="/css/DarkStyle.css" />

    <style>
      #photo-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .photo-box {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 300px;
        max-height: 300px;
      }
    </style>

</head>
<body>
    <header>
        <nav b-htfk0q4jky class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-htfk0q4jky class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button b-htfk0q4jky class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-htfk0q4jky class="navbar-toggler-icon"></span>
                </button>
                <div b-htfk0q4jky class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-htfk0q4jky class="navbar-nav flex-grow-1">
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/FilterForm">Create a filter</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/ListFilters">Filter data base</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/MoreFilters">More info about filters</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div style="text-align: center;">
    <h2><strong>RLC Filter desing web page</h2>
    <br>
    <h3>You are welcome</h3>
    <br>
    <br>
    <p><strong>Create a filter</strong></p>
    <p>Design a new filter - set resistance, inductance and capacity </p>
    <br>
    <p><strong>Filter data base</strong></p>
    <p>Data base of all designed filters - generate spectral/amplitude characteristics, edit or remove filters</p>
    <br>
    <p><strong>More info about filters</strong></p>
    <p>Publications and documentations about filters</p>
    <br>
    <p><strong>Author</strong></p>
    <p>Info about the author of the web page</p>
    <br>
    <div class="photo-box" >


<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="581px" height="198px" viewBox="-0.5 -0.5 581 198" content="&lt;mxfile host=&quot;Electron&quot; modified=&quot;2023-01-07T14:25:30.873Z&quot; agent=&quot;5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) draw.io/13.9.9 Chrome/85.0.4183.121 Electron/10.1.5 Safari/537.36&quot; etag=&quot;-E1gFe3bC8bfNROftbGO&quot; version=&quot;13.9.9&quot; type=&quot;device&quot;&gt;&lt;diagram id=&quot;w5uOtkuC5JQp2Jsh9iyF&quot; name=&quot;Strona-1&quot;&gt;7VpZc6M4EP41fkzKmMP4MXaSOSpTlaPm2pcpBRSjWRl5hRzj+fUjgbgEONgL2J7xk9WtRhLdX18yA322CN9RsPQ+ERfiwWjohgP9ejAajSb6iP8IzibmaJpuxZw5Ra7kZYwn9AvGTF0yV8iFQUGOEYIZWhaZDvF96LACD1BK1kWxF4KLmy7BHJYYTw7AZe5X5DJPci3TyCbeQzT35NYjPXm/BUikhzEj8IBL1jmWfjPQZ5QQFo8W4Qxiob1EL/FztzWz6cko9FmTB6Zffj6YH+zJ1cfHR+Zg5+5+/M/FWJ6NbZI3hi5XgCQJZR6ZEx/gm4w7pWTlu1CsOuRUJnNHyJIzNc78CRnbSGOCFSOc5bEFlrP8wHTzTT4fEd8FcWkm5HWYn7ze5Kl7SNECMkhTpnslDM1Jn/gw5twijOV8WU1ScwFZUQdu0Y2ELgN0DtkWOQkFobjcBtII7yDhp6UbLkAhBgy9FpEFJEDnqVxmQj6QVtzBovLUrwCv5E4lEy8J8rkCb165SgJpk1dIGeK4vwPPEN+TADFEfD73TBgjCy6Qwlco1QWBlyIAYDQXog70I7PkTZ0seyVlmICIWGspzrII5yJsXELMfZcKuUsKAxQwQoN09EPbZkWxAQy36l3OXtiG9EQZiwxd0uucZw8lz8s79bAjW9kH8b4QsdT5+Djne5zKXE8QmxzRn+PpbTuUfPRe4D4HCMtUAGEoho5dXz6W2Zq/NtjkxCJ/CrZsZNZslGEnXjJDUvqW+4NL0w6JLu2vR5dqdHPSDF1t2V//IxOBiygXiY/ETS3idivJwbQUFx2Xk8OoIjekCaP15KANS/Y6Kf+VNV5a8H3PE8dR4RkNKzyzk5CxcxpR81USUW7rHjCsrQ90k3eM0447DlgCB0WBJx12Gnks++3IY/UaeSbHUpZqe4SdrmJFNzGgea3YelGqBodeilLztIMD8t2VE8WGZPRD7zA0lExUERrsXmuSBrcLORd0MAgC5BSVXquYN10r99ZmRUBMeP/XA23DvNTGxcRpKRqNw0XJCRstZqiLteXRVQfX++g0G7Qa5cB8WpB4o5drjIe6Gq6vrlBrUJ6dtq3q8truttLH+6Xi1mzVIFu2Yqti+TN6sD5Ow6/DNX2AwaenDw6xH+LEfTQ23d//VJv27n/jvyCDlpS8d/osuWBXubN05F4Sp10BBgtza0xfSHS8DBXWfyuSTFwEURd1xQU4DsJsko/m8jda5TlhfNYSFj/osyrGefF+CVsBJK9XWRGCAaPkXzgjmNAs8rzwPkthlapvteReINeNGsi1hxh84g232HPNC+9SU1kL+13+A5ooZk5K5ZxnGBWe0dlfQNqkNwiMzhCIPF2twA4NgWTh7iHweI4CcRTQlKxycAhU9dXdQOAcBSIImGpHpx0aAlVNdCcQmJ0RIBBg6ceGgKrWvBME3J0RMKjqKntEQGWTrVUAQO0NMUbLoE5HOaOAYBl/EPmCQqG1aY16KpS4JXGqf07oZkljWoXGtK40VpU3j0tjxqSIMfvAGmtyp3RQjelj87g0ttuNTd0tXOnKrSJ25T9EON/CtXMLV6nHqnuXo3aCDgMtJ7OP0GMFZ9/y6ze/AQ==&lt;/diagram&gt;&lt;/mxfile&gt;" style="background-color: rgb(255, 255, 255);"><defs/><g><path d="M 150 42 L 240 42 L 240 72" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><rect x="50" y="32" width="100" height="20" fill="none" stroke="none" pointer-events="all"/><rect x="68" y="32" width="64" height="20" fill="#ffffff" stroke="#000000" pointer-events="all"/><path d="M 50 42 L 68 42 M 132 42 L 150 42" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="all"/><path d="M 340 72 L 340 42 L 240 42" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 340 172 L 340 192" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><rect x="330" y="72" width="20" height="100" fill="none" stroke="none" transform="rotate(90,340,122)" pointer-events="all"/><rect x="308" y="112" width="64" height="20" fill="#ffffff" stroke="#000000" transform="rotate(90,340,122)" pointer-events="all"/><path d="M 290 122 L 308 122 M 372 122 L 390 122" fill="none" stroke="#000000" stroke-miterlimit="10" transform="rotate(90,340,122)" pointer-events="all"/><path d="M 240 172 L 240 192 L 430 192 L 430 172" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><rect x="210" y="72" width="60" height="100" fill="none" stroke="none" transform="rotate(90,240,122)" pointer-events="all"/><path d="M 190 122 L 235 122 M 245 92 L 245 152 M 235 92 L 235 152 M 245 122 L 290 122" fill="none" stroke="#000000" stroke-miterlimit="10" transform="rotate(90,240,122)" pointer-events="all"/><path d="M 430 72 L 430 42 L 340 42" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><rect x="430" y="72" width="8" height="100" fill="none" stroke="none" transform="rotate(90,434,122)" pointer-events="all"/><path d="M 384 126 L 402 126 C 402 121.58 405.58 118 410 118 C 414.42 118 418 121.58 418 126 C 418 121.58 421.58 118 426 118 C 430.42 118 434 121.58 434 126 C 434 121.58 437.58 118 442 118 C 446.42 118 450 121.58 450 126 C 450 121.58 453.58 118 458 118 C 462.42 118 466 121.58 466 126 L 484 126" fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" transform="rotate(90,434,122)" pointer-events="all"/><path d="M 44.83 162 L 44.83 142 Q 44.83 132 44.83 122 L 44.83 68.37" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 44.83 63.12 L 48.33 70.12 L 44.83 68.37 L 41.33 70.12 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="all"/><path d="M 50 192 L 240 192" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 430 42 L 520 42" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 520 192 L 520 192" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 520 162 L 520 142 Q 520 132 520 122 L 520 68.37" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><path d="M 520 63.12 L 523.5 70.12 L 520 68.37 L 516.5 70.12 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="all"/><rect x="0" y="102" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 112px; margin-left: 1px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>U1</b></font></div></div></div></foreignObject><text x="20" y="116" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">U1</text></switch></g><rect x="540" y="102" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 112px; margin-left: 541px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>U2</b></font></div></div></div></foreignObject><text x="560" y="116" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">U2</text></switch></g><rect x="80" y="2" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 12px; margin-left: 81px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>R1</b></font></div></div></div></foreignObject><text x="100" y="16" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">R1</text></switch></g><rect x="350" y="112" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 122px; margin-left: 351px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>R2</b></font></div></div></div></foreignObject><text x="370" y="126" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">R2</text></switch></g><rect x="260" y="112" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 122px; margin-left: 261px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>C</b></font></div></div></div></foreignObject><text x="280" y="126" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">C</text></switch></g><rect x="430" y="112" width="40" height="20" fill="none" stroke="none" pointer-events="all"/><g transform="translate(-0.5 -0.5)"><switch><foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"><div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 38px; height: 1px; padding-top: 122px; margin-left: 431px;"><div style="box-sizing: border-box; font-size: 0; text-align: center; "><div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; "><font style="font-size: 20px"><b>L</b></font></div></div></div></foreignObject><text x="450" y="126" fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle">L</text></switch></g><ellipse cx="45" cy="42" rx="5" ry="5" fill="#ffffff" stroke="#000000" pointer-events="all"/><ellipse cx="46" cy="192" rx="5" ry="5" fill="#ffffff" stroke="#000000" pointer-events="all"/><ellipse cx="520" cy="192" rx="5" ry="5" fill="#ffffff" stroke="#000000" pointer-events="all"/><path d="M 430 192 L 515 192" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="stroke"/><ellipse cx="520" cy="42" rx="5" ry="5" fill="#ffffff" stroke="#000000" pointer-events="all"/></g><switch><g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"/><a transform="translate(0,-5)" xlink:href="https://desk.draw.io/support/solutions/articles/16000042487" target="_blank"><text text-anchor="middle" font-size="10px" x="50%" y="100%">Viewer does not support full SVG 1.1</text></a></switch></svg>
     </div>
     <br>
     <br>
  </div>
    <div id="photo-grid">
      <div class="photo-box">
        <img src="~/Images/Line1.png" alt="A beautiful landscape">
      </div>
      <div class="photo-box">
        <img src="~/Images/Trafo1.png" alt="A cute kitten">
      </div>
      <div class="photo-box">
        <img src="~/Images/Line2.png" alt="A stunning sunset">
      </div>
      <div class="photo-box">
        <img src="~/Images/Trafo2.png" alt="A delicious meal">
      </div>
      <div class="photo-box">
        <img src="~/Images/Line4.png" alt="A cozy fireplace">
      </div>
      <div class="photo-box">
        <img src="~/Images/IM1.png" alt="A beautiful beach">
      </div>
      <div class="photo-box">
        <img src="~/Images/Line5.png" alt="A majestic mountain">
      </div>
      <div class="photo-box">
        <img src="~/Images/Line6.png" alt="A cute puppy">
      </div>

</body>
</html>
