@{
    ViewData["Title"] = "More Filters";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>More about Filters</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=AKvNjO3dCPPS0eSU1Ez8T2wI280i08yGycV9ndytL-c" />
    <link rel="stylesheet" href="/FilterRLC.styles.css?v=Wot9q4Hum1Q8qqQTr0ozpZXbA8VPjzLW1xXlhTmXzl8" />
    <link rel="stylesheet" href="/css/DarkStyle.css" />
    <style>
		.center {
			display: flex;
			justify-content: center;
		}
	</style>
</head>
<body>
    <header>
        <nav b-htfk0q4jky class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-htfk0q4jky class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button b-htfk0q4jky class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-htfk0q4jky class="navbar-toggler-icon"></span>
                </button>
                <div b-htfk0q4jky class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-htfk0q4jky class="navbar-nav flex-grow-1">
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/FilterForm">Create a filter</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/ListFilters">Filter data base</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/MoreFilters">More info about filters</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="text-align: center;">
    <h2>Publications and documentations</h2>

    <br>
		
		<p><a href="~/PDF/Filters_lecture.pdf" class="dark-purple-link" target="_blank">&#128461; Lecture about passive filters</a></p>
        <p><a href="~/PDF/TI_LCdesign.pdf" target="_blank">&#128461; LC Filter Design by Texas Instruments</a></p>
		<p><a href="~/PDF/TI_RLCdesign.pdf" target="_blank">&#128461; RLC Filter Design for ADC Interface Applications by Texas Instruments</a></p>
		<p><a href="~/PDF/Ahmed.pdf" target="_blank">&#128461; Passive Filter Design for Three-Phase Inverter Interfacing in Distributed Generation - Khaled H. Ahmed, Stephen J. Finney and Barry W. Williams, Strathclyde University, UK</a></p>
		<p><a href="~/PDF/elmech.pdf" target="_blank">&#128461; Advertising material of active filters made by polish company - ELMECH</a></p>
    </div>
    </body>
    </html>