@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - FilterRLC</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=AKvNjO3dCPPS0eSU1Ez8T2wI280i08yGycV9ndytL-c" />
    <link rel="stylesheet" href="/FilterRLC.styles.css?v=Wot9q4Hum1Q8qqQTr0ozpZXbA8VPjzLW1xXlhTmXzl8" />
    <link rel="stylesheet" href="/css/DarkStyle.css" />
</head>
<body>
    <header>
        <nav b-htfk0q4jky class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-htfk0q4jky class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button b-htfk0q4jky class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-htfk0q4jky class="navbar-toggler-icon"></span>
                </button>
                <div b-htfk0q4jky class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-htfk0q4jky class="navbar-nav flex-grow-1">
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/FilterForm">Create a filter</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Filter/ListFilters">Filter data base</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/MoreFilters">More info about filters</a>
                        </li>
                        <li b-htfk0q4jky class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div style="width: 200px; height: 430px; border: 1px solid black;">
  <div style="text-align: center;">
    <img src="~/Images/MyPic.png" alt="Logo" >
  </div>
  <div style="padding: 20px;">
    <p style="font-size: 18px; font-weight: bold;">Maciej Brzycki</p>
    <p style="font-size: 14px;">Indeks: 176170</p>
    <p style="font-size: 14px;">Politechnika Gdańska</p>
    <p style="font-size: 14px;">Phone: 791 153 991</p>
    <p style="font-size: 14px;">Email: maciej.brzycki@pg.edu.pl</p>
  </div>
</div>


</body>
</html>